.pokemon-list-wrapper{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: ; */
}
.pokemon-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* height: 400px; */
}
.controls button{
    padding-left: 1rem;
    padding-right: 1 rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5 rem;
    margin-left: 1rem;
}